{% extends "base.html" %}

{% load static %}
{% load navigate %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col col-md-10">
    {% pagination is_paginated paginator page_obj %}
    <table class="table">{# table-sm"> #}
      <thead>
        <th>video</th>
        <th>state</th>
        <th>action</th>
        <th>details</th>
      </thead>
      <tbody>
        {% for video in videos %}
        <tr>
          <td>
            <a href="{{ video.video_path }}">{{ video }}</a>
          </td>
          <td>
            <span
                class="fa-2x"
                data-toggle="tooltip" data-placement="top"
                title="{{ video.get_state_display }}">
              {% if video.not_started %}
              <i class="fas fa-minus" aria-hidden="true"></i>
              {% elif video.in_progress %}
              <i class="fas fa-spinner fa-spin text-blue" aria-hidden="true"></i>
              {% elif video.finished_success %}
              <i class="fas fa-check text-green" aria-hidden="true"></i>
              {% elif video.finished_error %}
              <i class="fas fa-times text-red" aria-hidden="true"></i>
              {% endif %}
            </span>
          </td>
          <td>
            <button
                class="btn btn-warning{% if video.in_progress %} disabled{% endif %}"
                id="transcript"
                data-video-pk="{{ video.pk }}"
                {% if video.in_progress %} disabled{% endif %}>
              {% if video.not_started %}
                <i class="fas fa-play" aria-hidden="true"></i> <small>transcript</small>
              {% elif video.finished_success or video.finished_error %}
                <i class="fas fa-redo" aria-hidden="true"></i> <small>again</small>
              {% elif video.in_progress %}
                <i class="fas fa-ellipsis-h" aria-hidden="true"></i> <small>in progress</small>
              {% endif %}
            </button>
          </td>
          <td>
            <button class="btn btn-info{% if video.not_started %} disabled{% endif %}"
                    for="details-{{ video.pk }}"
                    data-toggle="collapse"
                    data-target="#details-{{ video.pk }}"
                    aria-expanded="false"
                    aria-controls="details-{{ video.pk }}"
                    {% if video.not_started %}disabled{% endif %}>
              <i class="fas fa-info" aria-hidden="true"></i>
            </button>

          </td>
        </tr>
        <tr class="hiddenRow">
          <td colspan="5">
            <div class="collapse" id="details-{{ video.pk }}">
              {% if video.state == 5 %}
                <div class="row">
                  <div class="col-lg-4">
                    <a href="{{ video.pattern }}"
                       data-toggle="lightbox"
                       data-title="Pattern"
                       data-footer="A custom footer text">
                        <div class="thumbnail" data-preload-url="{{ video.pattern }}" style="background: #fff url('{% static 'imgs/spinner.gif' %}') no-repeat center;"></div>
                    </a>
                  </div>
                  <div class="col-lg-4">
                    <a href="{{ video.pattern }}"
                       data-toggle="lightbox"
                       data-title="Athlete paths"
                       data-footer="A custom footer text">
                        <div class="thumbnail" data-preload-url="{{ video.pattern }}" style="background: #fff url('{% static 'imgs/spinner.gif' %}') no-repeat center;"></div>
                    </a>
                  </div>
                  <div class="col-lg-4">
                    <a href="{{ video.pattern }}"
                       data-toggle="lightbox"
                       data-title="Athlete paths (Kalman Filtered)"
                       data-footer="A custom footer text">
                        <div class="thumbnail" data-preload-url="{{ video.pattern }}" style="background: #fff url('{% static 'imgs/spinner.gif' %}') no-repeat center;"></div>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-lg-4 col-lg-4">
                    <a href="{{ video.paths }}"
                       data-toggle="lightbox"
                       data-title="Athlete paths - top view"
                       data-footer="Top view">
                        <div class="thumbnail" data-preload-url="{{ video.paths }}" style="background: #fff url('{% static 'imgs/spinner.gif' %}') no-repeat center;"></div>
                    </a>
                  </div>
                  <div class="col-lg-4">
                    <a href="{{ video.kalman_paths }}"
                       data-toggle="lightbox"
                       data-title="Athlete paths (Kalman Filtered) - top view"
                       data-footer="Top view">
                        <div class="thumbnail" data-preload-url="{{ video.kalman_paths }}" style="background: #fff url('{% static 'imgs/spinner.gif' %}') no-repeat center;"></div>
                    </a>
                  </div>
                </div>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% pagination is_paginated paginator page_obj %}
  </div>
</div>

<script type="application/javascript">
  $('#transcript').on('click', function() {
    console.log($(this));
  });
</script>
{% endblock %}